body {
    font-family: Calibri, Helvetica, Arial, sans-serif;
    background-color: #90EE90;
    padding: 0;
    margin: 0;
}
.container {
    min-height: 1vh;
}
#menu {
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    text-align: center;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
#menu a, #menu a:visited {
    text-decoration: none;
    color: black;
    padding: 10px;
}
#menu a:hover {
    font-weight: bold;
    color: #549843;
    border-radius: 5px;
    background-color: #ededed;
}
.article {
    background-color: #FFFFFF;
    width: 100%;
    margin: 15px 0;
    padding: 40px;
    text-align: justify;
    box-sizing: border-box;
    box-shadow: 5px 8px 8px #888888;
    border: 1px solid #ededed;
}
footer {
    background-color: #565656;
    color: white;
    margin: 0;
    margin-top: 15px;
    width: 100%;
    clear: both;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: fantasy;
    font-size: 4pc;
    margin-bottom: 0;
    padding-bottom: 0;
}
h2{
    text-align: center;
    font-size: inherit;
    margin-top: 0;
    padding-top: 0;
}