{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="article">
                <h1>Contact</h1><br>
                <b>Email: </b>admin@gchloris.com<br>
                <b>Phone: </b>856 763 987<br>

            </div>
        </div>
    </div>
{% endblock %}