{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="article center-block">
                <img src="{{ asset('images/imageToHomepage.jpg') }}" alt="Flowers" style="width:128px;height:128px;" />
                 <br>
                This is homepage.
            </div>
        </div>
    </div>
{% endblock %}
