{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="article">
                <h1>Chloris</h1>
                <h2><i>Web application</i></h2><br>
                <p>Chloris is a web application, which the main purpose is to remind you about the watering of your plants.</p>
                <p>Once you have set up your account. You can choose from our plant base which plants you have.
                    Then the application will send you notifications when water the plants and in what amounts to water.</p>
                <p>As a logged in user you can also enlarge our plant database.</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        h1{
            text-align: center;
            font-family: fantasy;
            font-size: 4pc;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        h2{
            text-align: center;
            font-size: inherit;
            margin-top: 0;
            padding-top: 0;

        }
    </style>
{% endblock %}