parameters:
    database_host: chloris_mysql
    database_port: 3306
    database_name: chloris
    database_user: root
    database_password: dev

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: dummy@dummy.com
    mailer_password: dummy

    secret: Tmrekjwgnjrkngtknrgkjn
