{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <h1>Add a plant</h1>
    {{ form_start(form, {'attr': {'class':'form-horizontal'}}) }}
    {{ form_widget(form) }}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
            <input type="submit" value="Save" class="btn btn-success">
            <a href="{{ path('myPlants') }}"> Back to My Plant</a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}