{% extends ':homeView:base.html.twig' %}

{% block body_head %}
    <div class="jumbotron text-center">
        <div class="container-head">
            <h1>Chloris</h1>
            <p>Web application</p>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="about" class="background-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Chloris</h1>
                    <h3>
                        <i>Web application</i>
                    </h3>
                    <br>
                    <p>
                        Chloris is a web application, which the main purpose is to remind you about the watering of your
                        plants.
                    </p>
                    <p>
                        Once you have set up your account. You can choose from our plant base which plants you have. Then
                        the application will send you notifications when water the plants and in what amounts to water.
                    </p>
                    <p>
                        As a logged in user you can also enlarge our plant database.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="start" class="background-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>How to start?</h1>
                    <br>
                    <p>Sign up and log in</p>
                    <p>Then you can add the plants to your account. </p>
                    <p>Then you will not forget about watering any plant!</p>
                    <br>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ asset('images/toHomepage2.jpeg') }}" class="img-circle" alt="Flowers">
                    </div>
                    <div class="col-sm-4">
                        <img src="{{ asset('images/toHomepage1.jpg') }}" class="img-circle" alt="Flowers">
                    </div>
                    <div class="col-sm-4">
                        <img src="{{ asset('images/toHomepage3.jpeg') }}" class="img-circle" alt="Flowers">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="background-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Contact</h1><br>
                    <p><b>Email:</b> admin@gchloris.com</p>
                    <p><b>Phone:</b> 856 763 987<br></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
