{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
    <a href="{{ path('fos_user_resetting_request') }}">{{ 'text_and_label.forget_password'|trans }}</a>
{% endblock fos_user_content %}
