{% extends 'base.html.twig' %}

{% block body %}
    {% if notifications|length > 0 %}
        <h1>Notifications</h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Subject</th>
                    <th>Message</th>
                </tr>
                {% for notification in notifications %}
                    <tr>
                        <td>{{ notification.subject }}</td>
                        <td>{{ notification .message }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
       <p>You don't have any notification</p>
    {% endif %}
{% endblock %}